<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <style>
        html, body{
            margin:0;
            padding: 0;
        }
        header{
            margin:0;
            padding: 0;
            width: 100%;
            height: 80px;
            background: #9370D8;
        }
        #side-menu{
            min-height: 500px;
            float: left;
            width: 15%;
            background: #00BFFF;
        }
        #content{
            padding: 30px;
            float: left;
            width: 80%;
            color: black;
            background: #F0F8FF;
        }
        .clearfix{
            clear: both;
        }
        ul{
		    margin-top: 0px;
		    padding-bottom: 40px;
	    }
	    li{
            list-style: none;
            float: right;
            font-size: 40px;
        }
    </style>
</head>
<body>
    <header>
        <h1>{% block header %}

            {% endblock %}</h1>
    </header>

    <div id="side-menu">
        {% block menu %}

        {% endblock %}
    </div>

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
    <div class="clearfix"></div>
</body>
</html>